:root {
    --rosso: #E43170;
}
*{
    font-family: 'Fredoka', cursive;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
body{
    max-width: 1000px;
    margin: auto;
}
h1{
    color: var(--rosso);
    margin-bottom: 40px;
}
.centro{
    text-align: center;
}